
/*Media Queries*/

/* On screens that are min 769px wide*/
@media screen and (min-width: 769px){         
    .main-header,
    .main-nav{
        display: flex;
    }
    .main-header{
        flex-direction: column;
        align-items: center;   
    }
    .skills-list li{
        flex-direction: column;
    }    
}

/* On screens that are max 769px wide*/
@media screen and (max-width: 769px){
    .col-25, .col-75, .input-area {
            width: 100%;
            margin-top: 0;
    }  
    .exp-section, .skills-list{
        flex-wrap: wrap;
        flex-direction: row;
    } 
    #about{
        margin-top:20px;
    }
    .visitor-message{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px 10px;
    }  
}

/* On screens that are min 1025px wide*/
@media screen and (min-width: 1025px){

    .main-header{
        flex-direction: row;
        justify-content: space-between ;
    }
}
/*On screens that are max 1025px wide*/
@media screen and (max-width: 1025px){

    .main-header{
        position:relative;
        background-color: #FBE8A6;; 
    
    }
    .main-nav{
        flex-direction: column;
        align-items: center;
    }
}
