*{
    box-sizing: border-box;
    scroll-padding-top: 30vh;
}
/*change font type, size, and color of body*/
body{
    background-color: #F6F0E7;
    color : #050c12;
    font-family: "Poppins", "PT Sans", Calibri, Tahoma, sans-serif; 
    font-size: 1.1rem;      
}
section{
    margin: 10% 2.5% 20%; 
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*header and about section*/
.main-header{
    background-color:#F0A160;
    margin: -15px -8px 50px;  
    position: fixed;
    top:0;
    width: 100%;  
}
.name{
    font-size:1.5rem;
    font-weight: bold;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#about{
    font-weight:500;      
}
#about, .main-nav a, .main-header, footer{
    text-align: center;
}
/*navigation*/
.main-nav{
    margin-top: 5px;
}
.name,
.main-nav a{
    display: inline-block;
    padding: 10px 15px;
}
.main-nav a{
    font-size: .95em;
    color:#192E41;   
}
.main-nav a:hover, a:link{
    color:#0a5aca;
    text-decoration: none;
}
.main-nav a:hover, h1, h2, a:hover, button:hover{
    text-transform: uppercase;
}

/*style all headings*/
h1, h2{
    font-size: 1.35em;
    font-weight:bold;
    color:black;
}
/*styled blocks experience section*/
.exp-section, .skills-list{
    display: flex; 
    flex-wrap: wrap;
    font-size: 18px;  
    margin: 50px 10px 50px;
    padding: 30px; 
    justify-content: space-around;     
}
.exp-section{
    gap: 10px;
}    
.item-exp, .skills-list li{
	padding: 10px;
	background:#fcdfc7;
    border-radius: 5px;
	margin: 25px auto;
    box-shadow: 0 1.7px 0 0 rgba(0,0,0,0.1);
    align-items: justify;  
}
a:visited{
    color: #2F5061;
}
a:hover{
    text-decoration: underline;
}
/*style the form elements*/
.input-area{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
} 
.form-section{
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #BA8D80;
    font-weight:800;
}  
button[type=submit]{
    background-color: #555656;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
button:hover{
    background-color: #45a049;
}
.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }  
/*styled blocks message list*/
.visitor-message{
    padding:10px;
    margin:5px;  
}
/*styled footer*/
footer{
    background: #cfcfcf;
    padding: 1em;
    margin: 10px -10px -10px;   
}
.connect-section{
    display: flex;
    align-items: center;
    justify-content:center; 
  
}
footer a{
	font-size: 26px;
    margin: 0 10px 0 0;
    width: 50px;;   	
}
footer a:hover{
    background:#f8e067;
}
